body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url("Imagen/f3.jpg");
}
header {
    background-color: orange;
}
div{
    width: auto;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-style:italic;
  font-weight:bold;
  font-size: 50px;
  display:block;
  border-style: solid;
}
nav{
    background-color: rgb(229, 255, 0);
    float: none;
    width: auto;
    height: auto;
    border-style: solid;
}
a{
    text-decoration: none;
    color: black
    
}
#table1 {
    text-align: center;
    color:#000000;
    background-color: rgb(209, 135, 7);
    tab-size: 250px;
    display:list-item;
    height: 700px;
    width: 500px;
    opacity: 0.6;
    border-style: solid;

}
#table2{
    text-align: right;
    width: auto; 
    float: right;
    margin-top: -700px;
    margin-right: 20px;
    background-color: rgb(255, 153, 0);
    padding: 140px;
    opacity: 0.6;
    border-style: solid;
}

h4{
    color:black;
    text-align: center;
}


footer{
    text-align: end;
    background-color: rgb(251, 255, 0);
    border-radius: 10px;
    width: auto;
    
}
.social-bar {
	position: fixed;
	right: 0;
	top: 36%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #312997;
}

.icon-twitter {
	background: #339DC5;
}

.icon-youtube {
	background: #E83028;
}

.icon-instagram {
	background: #3F60A5;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

.font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?i226ha');
    src:  url('fonts/icomoon.eot?i226ha#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?i226ha') format('truetype'),
      url('fonts/icomoon.woff?i226ha') format('woff'),
      url('fonts/icomoon.svg?i226ha#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-youtube:before {
    content: "\ea9d";
}
